.main-div{
    width: 100%; 
    min-height: 100vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #d2e1eb;
    border-radius: 50%;
    transition: all 0.3s ease;
    opacity: 0.2;
}

.logo {
    position: absolute;
    transition: all 1s ease;
    opacity: 0.3;
}

#logo-html {
    width: 50px;
    transform: rotate(45deg);
}

#logo-python {
    width: 150px;
    transform: rotate(0deg);
}

#logo-css {
    width: 50px;
    transform: rotate(-45deg);
}

#logo-js {
    width: 100px;
    transform: rotate(90deg);
}

#logo-django {
    width: 60px;
    transform: rotate(180deg);
}

.social-network {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.social-network:hover {
    background-color: rgb(81, 101, 5);
}

.div {
    display: flex;
}

.social-network-link {
    text-decoration: none;
    color: white;
    height: 100px;
}

.social-network-link:hover {
    color: white;
}

.navbar-li-style {
    color: white;
}

.navbar-li-style:hover{
    color: rgb(19, 177, 208);
}

.language a{
    text-decoration: none;
}

.bg-button{
    background-color: rgba(255, 255, 255, 0.3);
}

.accordion-style {
    width: 50%;
    margin: 0 auto;
}

.index-style{
    margin-top: 100px;
}

@media screen and (max-width: 576px) {
    .about-css {
      border-top: 1px solid;
    }
  }

@media screen and (max-width: 576px) {
    .language {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 576px) {
    .accordion-style {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .map {
        margin-top: 20px;
    }
}

@media screen and (max-width: 576px){
    .index-style {
        margin-top: 150px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .index-style {
        margin-top: 0;
    }
}

@media screen and (max-width: 576px) {
    .index-img {
        width: 300px;
    }
}