{% extends 'base.html' %}

{% block content %}
    {% load i18n %}
    {% for education in educations %}
    <div class="row border rounded-3 p-3 m-1">
        <div class="col-lg-10 col-xs-12">
            <h4><i class="fa-solid fa-building-columns"></i> {{ education.academy_name }}</h4>
        </div>
        <div class="col-lg-2 col-xs-12">
            <h4><i class="fa-regular fa-calendar-days"></i> {{ education.years_education }}</h4>
        </div>
        <div class="col-12">
            <p><i class="bi bi-geo-alt-fill"></i>{{ education.city_name }}</p>
        </div>
        <div class="col-12">
            <p><i class="fa-solid fa-gears"></i> {{ education.profession }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock content %}