{% extends 'base.html' %}

{% block content %}
    {% load i18n %}
    {% for work in works %}
        <div class="row border rounded-3 p-3 m-1">
            <div class="col-12">
                <h4>{{ work.year_work }}</h4>
            </div>
            <div class="col-12">
                <p>{{ work.company_name }}</p>
            </div>
            <div class="col-12">
                <h4>{{ work.position }}</h4>
            </div>
            <div class="col-12">
                <p class="hyphens">{{ work.responsibilities }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}