{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% load i18n %}
    <div class="accordion accordion-style" id="accordionExample">
        <div class="accordion-item bg-transparent text-white">
            {% for language in languages %}
                <h2 class="accordion-header" id="heading{{ language.id }}">
                    <button class="bg-button border-bottom hover-link accordion-button collapsed text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ language.id }}" aria-expanded="false" aria-controls="collapse{{ language.id }}">
                        {{ language.icon|safe }} {{ language.name_language }}
                    </button>
                </h2>
                <div id="collapse{{ language.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ language.id }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for skill in language.skills_set.all %}
                        <div class="row mb-2">
                            <div class="col-4 p-0">
                                <p class="m-0">{{ skill.skill }}</p>
                            </div>
                            <div class="col-8 p-0 d-flex align-items-center">
                                <div class="progress w-100">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ skill.progress }}%;">
                                        <span class="progress-text">{{ skill.progress }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}